:root {
    --bgColor: #4a4e69;
    --accentColor: #3ec1d3;
    --mainFont: "Montserrat", sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

a {
    color: inherit;
}

button,
a {
    cursor: pointer;
    font-family: inherit;
    transition: all .3s ease-in-out;
}

.parent {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family:var(--mainFont);
  border-top: 1px solid var(--accentColor);
  border-bottom: 1px solid var(--accentColor);
  border-left: 1px solid var(--accentColor);
  overflow: hidden;
  background-color: #fff;
  display: grid;
  grid-template-columns: 6% 94%;
  grid-template-rows: auto 1fr;
}

.parent div {
  box-sizing: border-box;
}

.parent .logo {
  width: 100%;
  grid-row: 1/3;
  box-sizing: border-box;
  border-right: 1px solid var(--accentColor);
  overflow: hidden;
}
.logo img {
  display: block;
  margin: 20px auto;
  width: 40%;
  min-width: 25px;
}
.parent .nav {
  padding: 15px;
  overflow: hidden;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--accentColor);
}
.nav h1 {
  font-size: 17px;
  font-weight: 600;
  color: var(--bgColor);
}
.nav .nav-links {
  gap: 40px;
}
.nav-links a {
  color: var(--accentColor);
  text-decoration: 1px underline transparent;
  text-underline-offset: 0px;
  font-weight: 500;
}
.nav-links a:hover {
  text-decoration: 2px underline var(--accentColor);
  text-underline-offset: 2px;
}

.nav .btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns form {
  border: 1px solid var(--accentColor);
  border-radius: 5px;
  display: flex;
  padding: 0 8px 0 0;
  align-items: center;
}

.btns form input {
  border: none;
  font-family: inherit;
  border-radius: 5px;
  padding: 11px;
}

#srch-btn {
  background-image: url(/assets/search.png);
  background-position: center;
  background-size: cover;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btns li {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 5px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.btns li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.btns li img {
  width: 25px;
}
.btns .avt {
  padding: 0;
}
.btns .avt:hover {
  background-color: transparent;
}
.btns .avt img {
  width: 35px;
  object-fit: cover;
  object-position: center;
  height: 35px;
  border-radius: 100%;
}
.nav ul {
  display: flex;
  box-sizing: border-box;
}
.profile-overlay {
  background-color: #00000000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 888;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.profile-overlay.active {
  visibility: visible;
  opacity: 1;
}
.profile-options {
  position: absolute;
  right: 15px;
  padding: 10px;
  box-sizing: border-box;
  top: 55px;
  overflow-y: auto;
  border: 2px solid var(--bgColor);
  box-shadow: 2px 2px 2px #4a4e69;
  border-radius: 5px;
  height: fit-content;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transition: all .3s ease-in-out;
}
.profile-options.active {
  opacity: 1;
  visibility: visible;
}
.profile-options ul {
  flex-direction: column;
  gap: 13px;
}
.profile-options ul a {
  text-decoration: 2px underline transparent;
  text-underline-offset: 0px;
  display: flex;
  font-weight: 500;
  gap: 5px;
}
.profile-options ul .log-btn {
  background-color: var(--bgColor);
  color: #fff;
  padding: 8px 10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 5px;
}
.profile-options ul a:hover {
  color: var(--accentColor);
  text-decoration-color: var(--accentColor);
  text-underline-offset: 3px;
}
.profile-options ul .log-btn:hover {
  color: var(--bgColor);
  text-decoration-color: transparent;
  border-color: var(--bgColor);
  background-color: transparent;
}
.profile-options span {
  display: inline-flex;
  align-items: center;
}
.profile-options span img{
  height: fit-content;
  width: 20px;
}
.profile-options .log-btn span img {
  width: 14px;
}


.parent .oga {
  grid-column: 2/3;
  height: 100%;
  overflow: hidden; /* prevent unwanted scroll here */
  width: 100%;
  display: flex; /* make it stretch */
  flex-direction: column;
}


@media screen and (max-width: 850px) {
  .parent {
    grid-template-columns: 10% 90%;
  }
  .nav .nav-links {
    gap: 20px;
  }
  .nav .btns {
    gap: 7px;
  }
  .btns li img {
    width: 20px;
  }
  .btns form input {
    padding: 11px;
    width: 80px;
  }
}
@media screen and (max-width: 670px) {
  .nav .nav-links {
    display: none;
  }
  .nav h1 {
    font-size: 14px;
  }
  .parent {
    grid-template-columns: 13% 87%;
  }
}

@media screen and (max-width: 500px) {
.btns li, .btns, .btns form {
  display: none;
}
.btns .avt {
  display: inherit;
}
.btns input {
  padding: 5px 8px;
}
}